body{
    
    font-family: 'Jua', sans-serif;
    font-size: 30px;
}
.water_box{

    border-radius: 30px;
    border: none;
    background-color: floralwhite;
    margin: 15px ; /*auto*/
    box-shadow: 3px 4px 2px gray;
    text-align: center;
    transition: 0.3s ;
}
.water_box:hover{
    border-radius: 30px;
    background-color: snow;
    box-shadow: 6px;
    cursor: pointer;
}
.grid_boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.search_bar{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}