<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
    <div class="container-md text-center">
        <div class="row mx-0 my-3">
            <div class="col bg-light pt-4" style="height: 30rem; ">
                <div style="font-family: 'Liu Jian Mao Cao', cursive; padding-top:100px; font-size : 7rem" > 洞心</div>
                <p class="lead display-4" style="font-family: 'East Sea Dokdo', cursive;">동심</p>
            </div>
        </div>
        <div class="row mt-4 mx-0">
            <div class="col ps-0 ">
                <div class="card border-0 p-4 bg-light">
                    <div class="card-body pt-4">
                        <h1 class="card-title py-3 my-4">
                            실시간
                        </h1>
                        
                        <a href="{% url 'app1:nowpm' %}" class="btn btn-success">알아보기</a>
                        {% block nowpm %}
                        실시간 미세먼지
                        {% endblock  %}
                    </div>
                </div>
            </div>
            <div class="col pe-0 ">
                <div class="card border-0 bg-light p-4">
                    <div class="card-body pt-4">
                        <h1 class="card-title py-3 my-4">
                            빅데이터기반
                        </h1>
                        <h4 class="card-text  py-3">
                            미세먼지 예측
                        </h4>
                        <a href="#" class="btn btn-success">알아보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% block pm_prediction %}
    미세먼지 예측샷    
{% endblock  %}