{% extends 'app1/body.html' %}
{% block headcenter %}

{% csrf_token %}
    <p><form action ="{%url 'app1:second'%}" >
        <p><select onchange="this.form.submit()" name="sidoName">
            <option value="">시도 이름</option>
            {% for SiDo in sidoName %}
            <option value="{{SiDo}}"> {{SiDo}} </option>
            {% endfor %}
        </select></p>
    </form></p>
{% endblock headcenter %}
    

{%block apis%}

<p>여기서 실시간 미세먼지 정보를 확인할 수 있어요 </p>

{%endblock apis%}

{% block synario %}

<p>여기서 앞으로의 미세먼지 정보를 확인할 수 있어요 </p>

{% endblock synario %}