{% extends 'app1/body.html' %}
{% block headcenter %}
{% csrf_token %}
    <p><form action ="{%url 'app1:second' %}">
        <p><select onchange="this.form.submit()" name="sidoName">
            <option value="">{{sidoName}}</option>
            {% for SiDo in sidoNames %}
            <option value="{{SiDo}}"> {{SiDo}} </option>
            {% endfor %}
        </select></p>
    </form></p>
    <p><form action ="{%url 'app1:final' %}">
        <p><select onchange="this.form.submit()" name="stationName">
            <option value=""> 지역이름 </option>
            {% for station_name,pm10 in station_pm10.items %}
            <option value="{{station_name}}"> {{station_name}} </option>
            {% endfor %}
        </select></p>
    </form></p>
{% endblock headcenter %}




{%block apis%}
<canvas id = "line-chart" width = "400" height = "200"></canvas>
<script>
    var label = new Array();
    var data = new Array();

    {% for key,value in station_pm10.items %}
        {% if value == '-' %}
            data.push(0);
        {% else %}
            data.push({{value}})
        {% endif %}
        label.push('{{key}}');
    {% endfor %}
    var chart = new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
        labels: label,
        datasets: [{
            data : data,
            fill : false
            }]
        }
    });
</script>
{%endblock apis%}


{% block synario %}



{% endblock synario %}
