{% extends 'app1/body.html' %}
{% block headcenter %}
{% csrf_token %}
    <p><form action ="{%url 'app1:test_2' %}">
        <p><select onchange="this.form.submit()" name="select_sidoName">
            <option value="{{selected_sidoName}}">{{selected_sidoName}}</option>
            {% for SiDo in sidoNames %}
            <option value="{{SiDo}}">{{SiDo}}</option>
            {% endfor %}
        </select></p>
        <p><select onchange="this.form.submit()" name="selected_stationName">
            <option value=""> 지역이름 </option>
            {% for station_name,pm10 in selected_sido_stations_pm10.items %}
            <option value="{{station_name}}"> {{station_name}}</option>
            {% endfor %}
        </select></p>
    </form></p>
{% endblock headcenter %}

{%block apis%}
<canvas id = "line-chart" width = "400" height = "300"></canvas>
<script>
    var label = new Array();
    var data = new Array();

    {% for key,value in selected_sido_stations_pm10.items %}
        {% if value == '-' %}
            data.push(0);
        {% else %}
            data.push({{value}})
        {% endif %}
        label.push('{{key}}');
    {% endfor %}
    var chart = new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
        labels: label,
        datasets: [{
            borderColor : '#0d6efd',
            label : 'PM10',
            data : data,
            fill : false
            }]
        }
    });
</script>
{%endblock apis%}
    

{% block synario %}
<button type="button" class="btn btn-outline-primary">Primary</button>


{% endblock synario %}
